<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">
                <%= title %> - Midterm</h1>
            <p class="lead">This is book list app running on Nodejs, Express & MongoDB.</p>
        </div>
    </div>
    <div>
        <p class="lead">Using your knowledge of NodeJS and ExpressJS and the Web App Template provided, complete the Favourite Book List web app that you will share on GitHub and deploy to Heroku (or another cloud provider). Your web app already includes basic navigation
            controls, a Landing Page, a BookList page and a BookDetails page. Your task is to complete the code that is missing from the routing files and the Books List page so that a user can Add, Delete and Edit any Book item from the Database.</p>
    </div>


    <% include ../partials/footer.ejs %>